<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <title>Title</title>
</head>
<body>
<div th:replace="message :: nav"></div>
<div class="container" >
      <form  action="#" th:action="@{/register}" th:object="${user}" method="post">
          <table align="center" width="90%" >
          <tr>
              <td align="center" >
                  <h4>
                      Add New Register
                  </h4>
              </td>
          </tr>
              <tr>
                  <td>
                      <a href="/fullmessage">List Message</a>
                      <a href="/addmessage">Add Message</a>
                  </td>

              </tr>
              <tr>
                  <td>
                      First Name
                     <span th:if="${#fields.hasErrors('firstName')}"
                      th:errors="*{firstName}"> First Name Error</span>
                      <input type="text" class="form-control" id="firstName" placeholder="First Name" th:field="*{firstName}"/>
                  </td>
              </tr>

              <tr>
                  <td>
                      Last Name
                      <span th:if="${#fields.hasErrors('lastName')}"
                            th:errors="*{lastName}"> Last Name Error</span>
                        <input type="text"  class="form-control"id="lastName" placeholder="Last Name" th:field="*{lastName}"/><br/>
                  </td>
              </tr>

              <tr>
                  <td>
                      Email
                      <span th:if="${#fields.hasErrors('email')}"
                            th:errors="*{email}"> Email Error</span>

                      <input type="text"  class="form-control" id="email" placeholder="email" th:field="*{email}"/><br/>
                  </td>
              </tr>

              <tr>
                  <td>
                      UserName
                      <span th:if="${#fields.hasErrors('username')}"
                            th:errors="*{username}"> UserName Error</span><br/>

                      <input type="text" class="form-control" id="username" placeholder="UserName" th:field="*{username}"/><br/>
                  </td>
              </tr>

              <tr>
                  <td>
                      Password
                      <span th:if="${#fields.hasErrors('password')}"
                            th:errors="*{password}"> First Name Error</span><br/>
                          <input type="text" class="form-control" id="password" placeholder="Password" th:field="*{password}"/><br/>
                  </td>
              </tr>

              <tr>
                  <td>
                      <button type="submit" class="btn">Submit</button>
                  </td>
              </tr>

          </table>

    </form>
</div>
</div>

</body>
</html>